<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5level %logger{36} - %msg%n"/>
    </Console>
      
    <RollingFile name="file_logger" fileName="/var/log/fxp_service.log" 
                 filePattern="/var/log/fxp_service.log.%i">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5level %logger{36} - %msg%n" />
            <SizeBasedTriggeringPolicy size="10 MB" />
            <DefaultRolloverStrategy max="10"/>
    </RollingFile>
    
    <Async name="async">
    	<AppenderRef ref="file_logger" />
    	<AppenderRef ref="Console" />
    </Async>
  </Appenders>
  <Loggers>
    <Root level="fatal">
      <AppenderRef ref="async"/>
    </Root>
    <Root level="error">
      <AppenderRef ref="async"/>
    </Root>
    <Root level="warn">
      <AppenderRef ref="async"/>
    </Root>
    <Root level="info">
      <AppenderRef ref="async"/>
    </Root>
  </Loggers>
</Configuration>
